@font-face {
	font-family: 'Inter';
	font-weight: normal;
	font-style: normal;
	src: url('Inter-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-weight: 700;
	font-style: normal;
	src: url('Inter-Bold.woff2') format('woff2');
}