.kr {
  font-family: "Pretendard Variable", Pretendard, "Elice DX Neolli",
    -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.06rem;
}
.en {
  letter-spacing: 0;
  font-family: "Manrope", sans-serif;
}
.ls-0 {
  letter-spacing: -0.015rem;
}
.ls-02 {
  letter-spacing: -0.2rem;
}
/* font  */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.fsi-1 {
  font-size: 1rem;
}
.fsi-13 {
  font-size: 1.3rem;
}
.fsi-15 {
  font-size: 1.5rem;
}
.fsi-17 {
  font-size: 1.7rem;
}
.fsi-2 {
  font-size: 2rem;
}
.fsi-3 {
  font-size: 3rem;
}
.fsi-4 {
  font-size: 4rem;
}
.fsi-5 {
  font-size: 5rem;
}
.fsi-6 {
  font-size: 6rem;
}
.fsi-065 {
  font-size: 0.65rem;
}
.fsi-075 {
  font-size: 0.75rem;
}
.fsi-085 {
  font-size: 0.85rem;
}
.fsi-095 {
  font-size: 0.95rem;
}

.opacity-0 {
  opacity: 0%;
}
.opacity-10 {
  opacity: 10%;
}
.opacity-20 {
  opacity: 20%;
}
.opacity-30 {
  opacity: 30%;
}
.opacity-40 {
  opacity: 40%;
}
.opacity-50 {
  opacity: 50%;
}
.opacity-60 {
  opacity: 60%;
}
.opacity-70 {
  opacity: 70%;
}
.opacity-80 {
  opacity: 80%;
}
.opacity-90 {
  opacity: 90%;
}
.opacity-100 {
  opacity: 100% !important;
}

.elice-light {
  font-family: "Elice DX Neolli", sans-serif;
  font-weight: 300;
}
.elice-regular {
  font-family: "Elice DX Neolli", sans-serif;
  font-weight: 500;
}
.elice-bold {
  font-family: "Elice DX Neolli", sans-serif;
  font-weight: 700;
}
/* XL 사이즈 이상의 화면에서 적용될 스타일 */
@media (min-width: 1200px) {
  .book-desc p {
    font-size: 1.3rem; /* 원하는 폰트 크기로 변경 */
    font-weight: 400;
  }
  .book-desc li {
    font-size: 1.24rem; /* 원하는 폰트 크기로 변경 */
    font-weight: 400;
    /* margin-bottom: 0.7rem; */
    line-height: 150%;
  }
}
blockquote {
  /* border: 1px solid #27a9e3; */
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 10px solid #f59f0b;
}
.book-desc h1,
.book-desc h2 {
  font-family: "Elice DX Neolli", sans-serif;
  font-weight: 500;
  color: #002050;
  margin-bottom: 0.1rem;
}
.book-desc h4,
.book-desc h5,
.book-desc h6 {
  font-weight: 700;
  color: #002050;
  margin-bottom: 0.1rem;
}
.pink {
  color: #ff005d;
}
.content p {
  font-size: 1rem;
}
.content li {
  font-size: 1rem;
}
.content h3 {
  font-weight: 700;
}
.content a {
  font-weight: 600;
  text-decoration: none;
}
.content strong {
  font-weight: 700;
  color: #002050dc;
}

/* dark mode 추가  */
[data-bs-theme="dark"] .content strong {
  color: white;
}
[data-bs-theme="dark"] h2,
[data-bs-theme="dark"] h4,
[data-bs-theme="dark"] h5 {
  color: white;
}
[data-bs-theme="dark"] .content table td {
  background-color: black;
  opacity: 70%;
}
.testimonial-box p {
  font-size: 1.1rem;
  line-height: 150%;
}
.offcanvas.offcanvas-start {
  width: 60%;
}
.offcanvas-body p {
  font-size: 1.1rem;
}
.big-size p {
  font-size: 1.15rem;
}
.card .testimonial-profile img {
  border: 4px solid rgb(153, 255, 0);
}
.offcanvas-body img {
  border: 4px solid rgb(153, 255, 0);
}
.testimonial-box img {
  border: 4px solid rgb(153, 255, 0);
}
.big-size .card-body {
  padding-left: 30px;
  padding-right: 30px;
}
.custom-link {
  color: none;
  text-decoration: none;
}
.testimonial-profile .badge {
  --si-badge-padding-x: 0.5em !important;
  --si-badge-padding-y: 0.25em !important;
  --si-badge-font-size: 0.7em !important;
}
.testimonial-box .badge {
  --si-badge-padding-x: 0.5em !important;
  --si-badge-padding-y: 0.25em !important;
  --si-badge-font-size: 0.7em !important;
}
.card-body .card-text strong {
  font-weight: 700;
}
.card-body strong {
  font-weight: 700;
}
